.contain-contenido-Avances {
  display: grid;
  grid-template-columns: 1fr 10%;
  gap: 1rem; 
  padding: 10px;
  border-radius: 10px;
  border-color: #24252d;
  border-style: double;
  margin: 1px;
}

/* Estilos para cada columna  */
.columna-izquierda {
  
}

.columna-derecha {
  padding: 0px;
}

.encabezado-elegante-Avances {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 16px;
  color: #96CEFF;
  letter-spacing: 1px;
  margin-left: 2%;
}

.contenido-Avances {
  margin-right: 2%;
  font-size: 10px;
  text-align: right;
  color: #62B6FF;
}

.parrafo-contenido-Avances {
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
  color: #ececec;
}

@media (max-width: 600px) {
  .contain-contenido-Avances {
    grid-template-columns: 1fr 20%;
  }
}
