.contain-contenido-Avances{
  display: grid;
  grid-template-rows: auto 100px;
  gap: 20px;
  margin-top: 20px;
  background: rgba(26, 38, 52, 0.1); 
  backdrop-filter: blur(4px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
}


.encabezado-elegante-Avances {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 16px;
  color: #9d968e;
  letter-spacing: 1px;
  margin-left: 2%;
}

.p-texto-avance {
  display: grid;
  grid-row: 1fr;
  background-color: #24252d;
  font-size: 12px;
  text-align: center;
  color: #9d968e; 
  padding: 10px;
  border-radius: 10px;
}

.parrafo-contenido-Avances {
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
  color: #ececec;
}


