.contain-contenido-noticias{
    padding: 10px;
    border-radius: 10px;
    border-style:double;
    margin: 1px;
    background: rgba(26, 38, 52, 0.1); 
    backdrop-filter: blur(1px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.5s ease
}

.contain-contenido-noticias:hover{
  background-color: #24252D;
  box-shadow: 0px 0px 20px rgb(38, 37, 45);
}

.contain-contenido-noticias {
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.encabezado-elegante-Noticias {
    text-align: left;
    font-size: 18px;
    color: #9d968e; 
    letter-spacing: 1px;
    margin-left: 2%;
  }

  .fecha-contenido-noticias{
    margin-right: 2%;
    text-align: right;
    color: #B2945E;
  }

  .parrafo-contenido-noticias{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    color: #ececec;
  }
