.contain-contenido-noticias{
    padding: 10px;
    border-radius: 10px;
    border-color: #24252D;
    border-style:double;
    margin: 1px;
    transition: box-shadow 0.5s ease;
}

.contain-contenido-noticias:hover{
  box-shadow: 0px 0px 20px rgb(38, 37, 45);
}

.encabezado-elegante-Noticias {
    font-family: 'Comic Sans MS', cursive;
    text-align: left;
    font-size: 18px;
    color: black; 
    letter-spacing: 1px;
    margin-left: 2%;
  }

  .fecha-contenido-noticias{
    margin-right: 2%;
    text-align: right;
  }

  .parrafo-contenido-noticias{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
  }
