.noticias-container {
  background: linear-gradient(135deg, #2C3E50, #4CA1AF); /* Degradado sutil */
  padding: 10%;
  align-items: center;
  text-align: center;
  color: #fff;
}

.img-noticias {
  border-radius: 10px;
  height: Auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra más suave */
}

.img-noticiasDest {
  border-radius: 10px;
  height: Auto;
  width: 100%;
}

.div-contenedor-destacado{
  color: transparent;
  background: linear-gradient(to bottom, #96CEFF, #ececec); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Noticias-encabezado {
  font-size: 20px;
  text-align: left;
  margin: 2%;
  color: #96CEFF; 
}

.contenedor-difucion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  margin-left: 2%;
  margin-right: 2%;
}

@media (max-width: 600px) {
  .noticias-container {
    padding: 20px;
  }

  .img-noticias {
    width: 95%;
  }

  .contenedor-difucion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(0, 1fr); 
  }
}

