/* TopMenu.css */

.top-menu {
  position: fixed;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 10%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más suave */
  opacity: 40%;
  transition: background-color 0.3s ease;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.top-menu:hover {
  opacity: 100%;
}

.menu-options {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu-options li {
  margin-right: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-options li:hover {
  background-color: #ffffff;
}

.btnOPC {
  border-style: none;
  align-items: center;
  cursor: pointer;
  margin: 2px;
  position: relative;
  color: transparent;
  background: linear-gradient(to bottom, #96CEFF, #ececec); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  transition: background 0.5s ease-in-out; 
}

.btnOPC:hover {
  border-style: none;
  align-items: center;
  background: linear-gradient(to bottom, #ececec, #96CEFF); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: iluminar 1s infinite;
  transition: background 0.5s ease-in-out; 
}

/* Evento */
.btnOPCG {
  border-style: none;
  align-items: center;
  cursor: pointer;
  border-radius: 20%;
  padding: 10px;
  margin: 5px;
  color: transparent;
  background: linear-gradient(to right, #0000ff, #232323);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnOPCG:hover {
  background: linear-gradient(to right, red, #1E78CE);
  background-clip: text;
}
