
.top-menu-mobil {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 40%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .top-menu-mobil:hover {
    opacity: 100%;
  }

  .menu-options-mobil {
    list-style: none;
    padding: 0;
    margin: 1%;
  }
  
  .menu-options-mobil li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-options-mobil li:hover {
    background-color: #ffffff;
  }
  
  .btnOPC-mobil {
    border-style: none;
    text-align: left;
    background: transparent;
    cursor: pointer;
    border-radius: 2%;
    padding: 10px;
    margin: 2px;
    width: 100%;
  }
  
  .btnOPC-mobil:hover {
    background-color: #f0f0f06b;
  }

  .btnOPCG-mobil {
    border-style: none;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
    padding: 10px;
    margin: 5px;
    color: transparent;
    background: linear-gradient(to right, #0000ff, #232323);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .btnOPCG-mobil:hover {
    background: linear-gradient(to right, red, #1E78CE);
    background-clip: text;
  }
  