.main-page-familia {
  background: linear-gradient(135deg, #1a2634, #2e4a5b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}


.seccion-encabezado {
  color: #f8f8f8;
    top: 0;
}

.parrafo-familia{
  text-align: center;
  color: #fff;
}

.contenedor-informacion {
  margin-bottom: 10px;
  max-width: 700px;
}

.contenedor-inf-DyX{
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 2%;
  row-gap: 4%;
}

.contenedor-inf-DyXdos{
  border-radius: 10px;
  /*box-shadow: inset 5px 5px 15px gray; SOMBRA INTERIOR */
}

.encabezado-elegante {
  font-size: 20px;
  color: #96CEFF; /* Blanco o tu color preferido */
  margin-top: 2%;
  text-align: right;
}

.encabezado-elegante span {
  font-weight: bold; /* Resalta las palabras "C#" y "SQL Server" */
}

.parrafo-informacion {
  color: #ececec;
  text-align: justify;
}

@media (max-width: 600px) {

  .contenedor-informacion {
    padding: 0px;
  }

  .contenedor-inf-DyX{
    padding: 0px;
  }
}
