.main-page-familia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 10%; 
  min-height: 100vh; 
  position: relative;
}

.seccion-encabezado {
  color: #9d968e;
  text-align: center;
  margin-bottom: 40px;
}

.parrafo-familia {
  text-align: center;
  color: #B2945E;
  font-size: 1.2rem;
  margin: 10px 0;
}

.contenedor-informacion {
  display: flex;
  margin: 0 auto 20px; 
  align-self: center;
  width: auto;
  max-width: 1200px;
  border-radius: 12px;
  background: rgba(26, 38, 52, 0.1);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 20px 0px;
  box-sizing: border-box;
}

.contenedor-inf-DyX {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(26, 38, 52, 0.4); /* Fondo más oscuro para contraste */
  backdrop-filter: blur(8px); /* Desenfoque más ligero dentro */
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.contenedor-inf-DyXdos {
  border-radius: 10px;
  padding: 20px;
  background: rgba(26, 38, 52, 0.4); /* Fondo consistente */
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.encabezado-elegante {
  font-size: 24px; /* Aumentar tamaño para destacar */
  color: #9d968e;
  margin-top: 10px;
  text-align: right;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para legibilidad */
}

.encabezado-elegante span {
  font-weight: bold;
}

.parrafo-informacion {
  color: #ececec;
  text-align: justify;
  line-height: 1.6; /* Mejorar legibilidad */
  margin: 10px 0;
  padding: 0 10px; /* Espaciado interno */
}

@media (max-width: 600px) {
  .main-page-familia {
    padding: 10px; 
    margin-top: 15%;
  }

  .contenedor-informacion {
    padding: 20px 30px 20px 0px;
    min-width: 100%; 
    backdrop-filter: blur(6px); 
  }

  .contenedor-inf-DyX,
  .contenedor-inf-DyXdos {
    padding: 10px;
    backdrop-filter: blur(5px); 
  }

  .encabezado-elegante {
    font-size: 20px; 
    text-align: center; 
  }

  .parrafo-informacion {
    padding: 0;
    font-size: 0.9rem; 
  }
}