.contenedor-app {
  background: linear-gradient(135deg, #2C3E50, #4CA1AF); /* Degradado sutil */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out; /* Transición suave */
}

.contenedor-general-apps {
  cursor: pointer;
  width: 100%; /* Se ajusta al ancho del contenedor */
  height: auto; /* Se ajusta automáticamente en altura */
  position: relative;
}

.contenedor-general-apps img {
  max-width: 100%; /* Se ajusta al ancho del contenedor sin excederlo */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1px;
}

.contenedor-general-apps :hover {
  max-width: 100%; /* Se ajusta al ancho del contenedor sin excederlo */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin: 1px;
}


.btn-consulta-video{
  background-color: #2C3E50;
  color: #4CA1AF;
  border: 0;
  border-radius: 12px;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
}

.btn-consulta-video:hover{
  color: white;
  margin: 0;
}

