.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding-left: 0px; /* Espacio a la izquierda */
  background: linear-gradient(135deg, #1a2634, #2e4a5b);
}

.contenedor-encabezado {
  text-align: center;
  margin-bottom: 20px;
  color: transparent;
  background: linear-gradient(to bottom, #96ceff, #ececec);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element */

.content-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.h1-element {
  font-size: 18px;
  color: #96ceff;
}

.p-element {
  text-align: justify;
  color: #ececec;
}

@media (max-width: 600px) {
  .main-page {
    padding: 10%;
  }
}
