/* Estilos generales */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  height: 100vh;
}

/* Contenedor de encabezado */
.contenedor-encabezado {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.contenedor-encabezado h1{
  color: #9d968e;
}

.encabezado-parrafo {
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0;
  color: #b2945e;
  animation: fade-in 1s ease-in forwards;
}

/* Animación para los textos cambiantes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Contenedor principal de contenido */
.content-container {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Títulos dentro del contenido */
.h1-element {
  font-size: 1.6rem;
  margin-top: 20px;
  color: #9d968e;
  border-bottom: 2px solid #e94560;
  padding-bottom: 5px;
}

/* Párrafos del contenido */
.p-element {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .main-page {
    padding: 20px;
    padding-top: 60px;
    height: auto;
    margin-top: 15%;
  }

  .content-container {
    max-width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .p-element {
    font-size: 0.9rem;
  }
}