body{
    background: linear-gradient(135deg, #1a2634, #2e4a5b); /* Fondo base por si no hay imagen */
}

.contenedor-footer{    
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: end;
    background: rgba(26, 38, 52, 1); /* Fondo semitransparente similar al body */
    color: gray;
    transition: color 1s;
}

.contenedor-footer p{
    margin: 2px;
}

.contenedor-footer:hover{
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más suave */
}

@media (max-width: 600px){
    .contenedor-footer{
        align-items: center;
    }
}